.contenedor{
  background-color: #2ca146;
  width: 50%;
  height: auto;
  border-radius: 20px;
  border-color: #080908;
  border-style: solid;
  margin-left: 25%;
  text-align: center;
  margin-top: 10%;

}
.contenedor h1{
  color: black;
  align-content: center;

}
#text{
  width: 50px;
}
button{
  width: auto;
  height: auto;
  font-size: 15px;
  border-radius: 5px;

}
